.content {
	width: 100%;
}
.original, .translated {
	border: 1px solid black;
	margin: 1px;
	padding: 2px;
	width:49%;
	float: left;
	margin-bottom: 10px;
}

.footer {
	clear: both;
	text-align: center;
	font-style: italic;
}

a {
	color: black;
	text-decoration: none;
}

a: visited {
	color: black;
}

#ta_original, #ta_translated {
	resize: none;
	width: 99%;
	height: 300px;
}

.right {
	text-align: right;
	padding-right: 10px;
}

.droplist {
	padding-left: 50%;
}
input[type=submit] {
	width: 15em;
	height: 4em;
}

input[type=file],[type=reset] {
	width: 14em;
	height: 3em;
}

input[type=reset] {
	width: 6em;
	height: 3em;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}